.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

}


.input {
    margin-top: 8px;
    width: 150px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
}

.input:focus {
    outline-color: rgb(97, 97, 229);
}