.contacts {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    max-width: 320px;
    box-shadow: 2px 6px 27px -5px rgba(0, 0, 0, 0.39);
}

.title {
    margin-top: 0;
    text-align: center;
}

.title:not(:first-child) {
    margin-top: 40px;
}